body{
    margin: 0 auto;
    max-width: 50em;
    font-family:"Helvetica","Arial","sans serif";
    line-height: 1.5;
    padding: 4em 1em;
    color:#555;
}
h1,h2,h3{
    margin-top: 1em;
    padding-top: 1em;
    color:#510;
}

a{
    color: #1eb482;
}

.clase1 {
    font-size:large;
    color:blueviolet;
}

#id1{
    background-color: lavender;
}
a:hover{
    color:deeppink;
}